
{% set areas = [] %}
{% for item in interfaces if item.area not in areas%}


    {% set x = areas.extend([item.area]) %}
{% endfor %}
{% for area in areas | unique %}
	{{ area }}
	{% for item in interfaces if item.area == area %}
		{{ item.ip }} {{ item.device }}
	{% endfor %}	
{% endfor %}