upstream apache1271 {
	server 127.0.0.1:8080;
}

upstream apache1272 {
	server 127.0.0.2:8080;
}

map $http_host $docroot {
	hostnames;
	default		{{ apache.site1.docroot }};
	.localhost  {{ apache.site1.docroot }};
	.localhost2 {{ apache.site2.docroot }};
}

map $http_host $proxyip {
	hostnames;
	default		apache1272;
	.localhost  apache1271;
	.localhost2 apache1271;
}



server {
	listen *:80;
	server_name site1.example.com site2.example.com;
	access_log /var/log/nginx/access.log;
	location / {
		proxy_pass http://apache1271;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_connect_timeout 120;
		proxy_send_timeout 120;
		proxy_read_timeout 180;
	}
	location ~* \.(jpg|jpeg|gif|png|ico|css|bmp|swf|js|html|txt)$ {
 		root $docroot;
	}
}
