#!/usr/bin/env python 
import pam, getpass, os
p = pam.pam()
user = getpass.getuser()
pswd = getpass.getpass('Please enter the password for '+getpass.getuser()+":")
if p.authenticate(user, pswd, service='mypam'):
    os.system("/usr/bin/top")
else:
    print ("You are not allowed to run this app")

#print('{} {}'.format(p.code, p.reason, service='my'))